@{
    ViewData["Title"] = "Search Result Artist";
}
@model MusicObject

<h5>Search Results</h5>

<div>

    <h3>@Model.data[0].artist.name</h3>
    <img src="@Model.data[0].artist.picture_small" />
    <br />
    <h5>Deezer Album List:</h5>
    <br />
    @for (int a = 0; a <= 5; a++)
    {
        <img src="@Model.data[a].album.cover_small" />
        <br />
        <p>@Model.data[a].album.title</p>
        <br />
    }
    <a href="../Music/SaveFavoriteArtist?id=@Model.data[0].artist.id" class="btn btn-primary btn-sm btn btn-outline-success">
        Add to Favorite Artists
    </a>

    <br />
    <br />


    <a href="../Music/Search">Search again?</a>
</div>