@{
    ViewData["Title"] = "Search Result Album";
}
@model MusicObject

<h5>Search Results</h5>

<div>
    <strong><h4>@Model.data[0].album.title</h4></strong>
    <img src="@Model.data[0].album.cover_small" />

    <br />
    <p>Deezer listed artist:</p>
    <br />
    <strong><p>@Model.data[0].artist.name</p></strong>
    <br />
    <a href="../Music/FAVORITE ALBUM METHOD?id=@Model.data[0].album.id" class="btn btn-primary btn-sm btn btn-outline-success">
        Add to Favorite Albums
    </a>
    <br />
    <br />


    <a href="../Music/Search">Search again?</a>
</div>